{% extends "base.html" %}
{% load static %}

{% block title %}Shop{% endblock %}
{% block nav_shop_active %}current-list-item{% endblock %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Jasa Mahasiswa UMS</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">
						<ul>
							<li class="active" data-filter="*">All</li>
							<li data-filter=".strawberry">Section1</li>
							<li data-filter=".berry">Section2</li>
							<li data-filter=".lemon">Section3</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row product-lists">
				{% for jasa in jasa_list %}
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'product_page' jasa.id_jasa %}">
								<img src="{{ jasa.image.url }}" alt="{{ jasa.name_jasa }}">
							</a>
						</div>
						<h3>{{ jasa.name_jasa }}</h3>
						<p class="product-price"><span>{{ jasa.vendor_id_vendor }}</span> Rp. {{ jasa.harga }}</p>
						<a href="{% url 'product_page' jasa.id_jasa %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to cart</a>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end products -->

{% endblock %}
